$white:hsl(0, 0%, 100%);
$gray: hsla(0, 0%, 100%, 1);
$green : hsla(148, 92%, 39%, 1);
$purple: hsl(258, 73%, 62%);
$sparta: 'Spartan', sans-serif;
$worksans: 'Work Sans', sans-serif;


@import 'global';
@import 'header';
@import 'main';
@import 'form';
@import 'aside';
@import 'responsive';